#title {
  font-family: The Farmer Textured;
  font-size: 600%;
  margin-left: 12%;
}

#subTitle {
  margin-left: 30%;
}

#App {
 margin-left: 30%;
 margin-top: 2%;
 text-size-adjust: large;
}

#vendorDisplay {
  margin-right: 6%;
}
