form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 100%
}
#root {
  background-color: olivedrab;
  height: 10rem;
}

#App {
 margin-top: 2%;
 align-items: center;
 align-self: center;
 align-content: center;
 text-align: center;
 text-size-adjust: large;
}

#title {
  font-family: The Farmer Textured;
  font-size: 600%;
}

#subTitle {
  margin-top: -1%;
}

.main-buttons {
  margin-top: 3%;
}

#customerDisplayButton {
  margin-right: 5%;
  border: solid orange;
  width: 18%;
}

#vendorForm input{
  flex-basis: 20%;
}

#vendorForm input{
  flex-basis: 20%;
}
#vendorDisplayButton {
  border: solid orangered;
  width: 18%;
}

#vendorTable {
  margin-top: 5%;
}

.flexBreak {
  flex-basis: 100%;
  height: 5px;
}

.vendorForm {
  margin-top: 10%;
}

.topForm{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 4%
}
.bottomForm{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 4%
}

#itemForm{
  display: flex;
  flex-basis: 100%
}

.itemRowGenerated {
  display: flex;
  flex-basis: 100%;
  width: 100%
}

.itemRowGenerated input{
  flex-basis: 20%;
}

#vendorForm {
  flex-basis: 100%;
}

#tableNav {
  margin-top: -15px;
}

tr{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}

th{
  flex-basis: 20%;
}

#addButton {
  margin-right: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.vendorSubmit {
  margin-bottom: 3%;
}

.itemSubmit{
    background: darkslateblue;
    color: lightgrey;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}


